<h1>Podcaster</h1>


<h2>{{ podcast.title }}</h2>


<form method="post">{% csrf_token %}
  <table>
    {{ form }}
  </table>
  <table>

    <tr><td><b>Items</b></td><td><b>Add</b></td></tr>

    {% for item in items %}
    <tr><td><a href="{% url 'item_detail' pk=item.id %}"> {{ item.title }} </a></td><td>{{ item.speaker }}</td>
      <td><input type="checkbox" name="cb_{{ item.id }}" value="1" /></td>
    </tr>
    {% endfor %}
  </table>
  <input type="submit" value="Add Selected Items" />
</form>

